{%extends 'quiz/_base.html' %}

{% block title %}LOGIN{% endblock %}

{% block content %}
<br><h3 align="center">LOGIN</h3><br>
<div class="container">
    <form  method="post" action="" class="form-horizontal">
     {% csrf_token %}
    <div class="form-group">
        <label class="col-md-4"></label>
        <div class="col-md-4">{{form.username}}</div>
    </div>
    <div class="form-group">
        <label class="col-md-4"></label>
        <div class="col-md-4">{{form.password}}</div>
    </div>
    <div class="text-center"><button class="btn btn-primary" type="submit">Submit</button></div><br>
        <div class="card-footer text-muted text-center">New to Online Quiz? <a href="{% url 'quiz:signup_page' %}">Sign up</a></div>
</form>
</div>
{% endblock %}
